.TypingAnimation {
  border: 1px solid #ff0000;
  width: 100%;
  display: flex;
  justify-content: center;
  .typingContainer {
    border: 2px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-radius: 2vw;
    .typing {
      /* border: 1px solid black; */
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      span {
        font-size: 2vw;
        font-weight: bold;
      }
    }
    .btnContainer {
      border: 1px solid black;
      button {
        padding: 1vw 2vw;
        cursor: pointer;
        span {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
