.Header {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  .title {
    /* border: 1px solid white; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8vw;
    h1 {
      /* border: 1px solid white; */
      font-size: 3vw;
      text-align: center;
      color: #fff;
    }
  }
  .logoContainer {
    /* border: 1px solid white; */
    width: 8vw;
    height: 8vw;
    img {
      width: 100%;
      height: 100%;
    }
    transition: all ease 0.5s;
    &:hover {
      transform: rotate(15deg);
    }
  }
}
