.CaptureImagePage {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  .captureImage {
    /* border: 1px solid white; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    .webcamContainer {
      position: relative;
      width: 35vw;
      height: 26.8vw;
      background-color: #fff;
      border: 0.3vw solid #fff;
      /* border-bottom: 0vw solid #fff; */
      border-radius: 1vw;
      .webcamParent {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        #webcam {
          border-radius: 1vw;
          margin: 0 auto;
          width: 100.3%;
          height: 100%;
          object-fit: cover;
        }
        .capturedImage {
          border-radius: 2vw;
          width: 100.3%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          /* transform: scale(1.65, 1); */
        }
      }
      /* .frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } */
    }

    .capture {
      /* border: 1px solid white; */
      display: flex;
      gap: 2vw;
      button {
        color: #000;
        border: 0.13vw solid #fff;
        text-align: center;
        width: 16vw;
        border: none;
        outline: none;
        padding: 0.2vw 2vw;
        font-weight: 600;
        font-size: 2.5vw;
        border-radius: 0.6vw;
        cursor: pointer;
        transform: translateY(-0.1vw);
        transition: all ease 0.5s;
        box-shadow: 0.1vw 0.1vw 0.4vw rgba(0, 0, 0, 0.5);
        &:hover {
          box-shadow: none;
          transform: translateY(0);
        }
      }
      .captureRetake {
        background-color: #fcb017;
      }
      .submit {
        color: #fff;
        border: 0.1vw solid #fff;
        background-color: transparent;
      }
    }
  }
}
